

.description {
    display: flex;
    flex-wrap: wrap;
    /* gap: 2rem; */
    margin: 50px auto;
    justify-content: space-between;
}

.description p {
    max-width: 300px;
}

.numbers {
    margin: 20px auto;
}

.container_stats {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
}

.container_traits{
    width: auto;
}

.traits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

