.container {
    display: flex;
    flex-direction: row;
}

.copy{
  display: flex;
  flex-direction: row;
  justify-content: left;
  vertical-align: middle;
    font-size: px;
  cursor:pointer;
  width: fit-content;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  opacity: 0.8;
  margin: auto 5px;
  transform: translate(0px,0px);
}

.copy:hover {
  transition-duration: 0.1s;
  opacity: 1;
}

.copy_icon {
  width: 1rem;
  margin: auto 0px;
    height: 100%;
    vertical-align: middle;
    color: #FF6B10;
    opacity: 0.6;
}

.notification {
  line-height: 1rem;
  font-size: 14px;
  margin: auto 0px;
  color: #FF6B10;
  opacity: 0.6;
}

.container h3 {
  line-height: 1.3rem;
    text-overflow: ellipsis;  
    margin: 0px auto 0xp auto;
    cursor: pointer;          
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
    color: #FF6B10;
    opacity: 0.6;
    font-size: inherit;
}

.container h3:hover {
  opacity: 1;
}

@media only screen and (max-width: 770px){
  .container {
    max-width: 300px;
  }
}

@media only screen and (max-width: 400px){
  .container {
    max-width: 200px;
  }
}

